@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahan custom scrollbar untuk dashboard RayanXWeb */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #020617; /* bg-slate-950 */
}

::-webkit-scrollbar-thumb {
  background: #1e293b; /* bg-slate-800 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155; /* bg-slate-700 */
}
